html{
    height:100%;
    width:100%;
}

body{
    background-color: rgb(255,240,240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover{
    background-color: #6c757d;
    color: white;
}
.mycontent{
    padding: 10px;
}

.profile-header{
background-color: #171717; 
color: white;
padding: 40px;
text-align: center;
}